
.body{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img1{
    filter: opacity(0%);
    height: 600px;
    width: 600px;
    border-radius: 50%;
    position: relative;
    top: 120px;
    left: 800px;
}
.welcome{
    position: relative;
    top: -400px;
    left: 100px;
    font-family: 'Orbitron', sans-serif;
    font-size: 100px;
    color: lime;
}
.bgimg{
    filter: brightness(100%);
    background-image: url(homepageBG.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    background-color: rgb(83, 83, 83);
    position: absolute;
    top: 0%;
    left: 0%;
    height: 50px;
    width: 1470px;
}
.img{
    height: 40px;
    width: 40px;
    position: relative;
    top: 0px;
    left: 80px;
    background-color: black;
    border-radius: 50%;
    padding: 5px;
}
.h1{
    font-size: large;
    color: white;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
}
.home{
    position: relative;
    top: -60px;
    left: 600px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.about{
    position: relative;
    top: -82px;
    left: 700px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    position: relative;
    top: -104px;
    left: 820px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.contact{
    position: relative;
    top: -126px;
    left: 920px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.sign{
    position: relative;
    top: -148px;
    left: 1050px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*----------------------------------------- About Us ------------------------------------------*/

.header2{
    color: aqua;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: -500px;
}
.img2{
    height: 500px;
    width: 500px;
    border-radius: 30%;
    position: relative;
    top:200px;
    left: 850px;
}
.passage1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    color: white;
    position: relative;
    top: -400px;
    left: 100px;
}

/*------------------------------------------- Menu -------------------------------------------*/

.header3{
    color: aqua;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: 50px;
}
.menucard{
    color: white;
}
.biriyani{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: 120px;
    left: 200px;
}
.pizza{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: -270px;
    left: 600px;
}
.burger{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: -220px;
    left: 600px;
}
.dessert{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: -620px;
    left: 1000px;
}
.mojitos{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    top: -570px;
    left: 1000px;
}
.many{
    font-size: 30px;
    text-align: center;
    position: relative;
    top: -500px;
}

/*---------------------------------------- Contact Us ---------------------------------------*/

.header4{
    color: aqua;
    text-align: center;
    font-size: 40px;
    position: relative;
    top: -100px;
}
.input{
    color: white;
    font-size: 30px;
    position: relative;
    top: 30px;
    left: 300px;
}
.submit{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    background-color: aqua;
    border-radius: 30px;
    border: 2px black;
    text-align: center;
}
.contact-info{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: -250px;
    left: 800px;
}
.footer {
    background-color: grey;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: white;
}
